<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <nav class="menu">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/artists.html">Artists</a>
            </nav>
            <main>
                <h1>Welcome to Groupie Tracker</h1>
            </main>
        </div>
    </body>
</html>