<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="splash-main">
            <img src="/static/img/logo-removebg-preview.png" alt="Logo" class="splash-logo">
        </div>
        <div class="container">
            <nav class="menu">
                <a href="/home">Home</a>
                <a href="/templates/artists.html">Artists</a>
            </nav>
            <main class="content">
                <h1>Welcome to Groupie Tracker</h1>
            </main>
        </div>
    </body>
</html>