<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        <aside class="sidebar">
        <nav class="sidebar-nav">
            <a href="/templates/index.html">
                <span>Accueil</span>
            </a>
            <a href="/templates/artists.html">
                <span>Artistes</span>
            </a>
        </nav>
        </aside>
        
        <div class="container">
            <nav class="menu">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/artists.html">Artists</a>
            </nav>
            <main class="content">
                <h1>Welcome to Groupie Tracker</h1>
            </main>
        </div>
    </body>
</html>